<!DOCTYPE html>
<html>
    <head>
        <title>{{book.b_title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bookinfo.css') }}">

    </head>

    <body>
        <div><br>
            <h1><u>{{book.b_title}}</u></h1> <br>
            <div>Total Checkouts: {{book.b_totalcheckouts}}</div>
            <div>Total Holds: {{book.b_totalholds}}</div>
            <div>Total Pages: {{book.b_pages}}</div>
            <div>Rating: {{book.b_rating}}</div>
            <div>Format: {{book.b_format}}</div>
            <div>Currently Checked Out By: {{book.b_checkedOutBy}}</div>
        </div>
    </body>
</html>