<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/librarian.css') }}">
</head>
<h1>
    CS Nerd Librarian 
</h1>
<h1>Hello {{session.l_name}}! </h1>
<button onclick="logout()" class="logout">Log Out</button>
<body>
<div class="tab">
    <button class="tablinks" onclick="openTask(event, 'Books');searchBooksByTitle()">Books</button>
    <button class="tablinks" onclick="openTask(event, 'Users');searchUserByName()">Users</button>
    <button class="tablinks" onclick="openTask(event, 'AddUser')">New User</button>
    <button class="tablinks" onclick="openTask(event, 'AddHardcopy')">New Hardcopy</button>
    <button class="tablinks" onclick="openTask(event, 'AddEbook')">New eBook</button>
  </div>
  
  <!-- Tab content -->
  <div id="Books" class="tabcontent">
    <h3>Books</h3>
    <input id="bookSearchfield" type="text">
    <button class="searchbutton" type="animated bounce" onclick="searchBooksByTitle()">Search</button> 
    <div id="searchResCount"></div>
    <table>
        <thead>
            <tr class="align">
              <th></th>
              <th>Book Key</th>
              <th>Book Title</th>
              <th>Type</th>
              <th>Availability</th>
            </tr>
          </thead>
          <tbody id="bookSearchResults">
      
          </tbody>
    </table>
  </div>
  
  <div id="Users" class="tabcontent">
    <h3>Users</h3>
    <input id="userSearchfield" type="text">
    <button type="button" onclick="searchUserByName()">Search</button>
    <table>
      <thead>
        <tr class="align">
          <th>User Key</th>
          <th>Name</th>
          <th>Username</th>
          <th>Password</th>
          <th>Added By</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Total Returns</th>
          <th>Total books currently checked out</th>
          <th>Total books currently held</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="userSearchResults">
  
      </tbody>
    </table>
  </div>
  
  <div id="AddUser" class="tabcontent">
    <h3>Add User</h3>
    <input id="u_name" type="text" placeholder="Full Name"> 
    <input id="u_username" type="text" placeholder="User Name">
    <input id="u_password" type="text" placeholder="Password">
    Contact Information
    <input id="u_address" type="text" placeholder="Address">
    <input id="u_phone" type="text" placeholder="Phone Number">
    <button onclick="createUser()">Add!</button>
    
  </div>

  <div id="AddHardcopy" class="tabcontent">
    <h3>Add Hard Copy Book</h3>
    <input id="hb_title" type="text" placeholder="Title"> 
    <input id="hb_pages" type="text" placeholder="Pages">
    <input id="hbs_rating" type="text" placeholder="Average Rating">
    <input id="hbs_reviews" type="text" placeholder="Number of Reviews">
    <input id="hbs_price" type="text" placeholder="Amazon Price">
    <select id="hb_type">
      <option value="">--Select Binding--</option>
      <option value="Hardcover">Hardcover</option>
      <option value="Paperback">Paperback</option>
      <option value="Unknown Binding">Unknown Binding</option>
      <option value="Boxed Set - Hardcover">Boxed Set - Hardcover</option>
      <!-- 'Hardcover', 'Paperback', 'Unknown Binding', 'Boxed Set - Hardcover' -->
    </select>
    <button onclick="createHardcopyBook()">Add!</button>

  </div>

  <div id="AddEbook" class="tabcontent">
    <h3>Add eBook</h3>
    <input id="eb_title" type="text" placeholder="Title"> 
    <input id="eb_pages" type="text" placeholder="Pages">
    <input id="ebs_rating" type="text" placeholder="Average Rating">
    <input id="ebs_reviews" type="text" placeholder="Number of Reviews">
    <input id="ebs_price" type="text" placeholder="Amazon Price">
    <select id="e_format">
      <option value="">--Select Format--</option>
      <option value="ebook">eBook</option>
      <option value="Kindle Edition">Kindle Edition</option>
      <!-- 'ebook', 'Kindle Edition' -->
    </select>
    <input id="e_loanperiod" type="text" placeholder="Loan Period">
    <button onclick="createEBook()">Add!</button>

  </div>

  </div>
</body>

<script src="{{url_for('static', filename='librarian.js')}}"></script>