/* SORTING ARROWS */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

input[type=text]{
  margin: 5px;
}

body{
  background-color: RGB(34, 51, 59);
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

}
tr:hover {background-color: RGB(198, 172, 143);
}

h1{
  text-align: center;
}
.logout{
  position:fixed;
  right:10px;
  top:5px;
}

/* TAB FORMATTING & STYLING */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    align-self: center;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


/* TABLES FORMATTING */
  .align{
    text-align: left;
  }